body{
    width: 500px;
    margin: 0 auto;
    transition: 0.5s all ease-in-out;

    input{
        margin-top: 80px;
        margin-right: 25px;
    }
    button{
        margin-top: 80px;
        margin-left: 25px;
    }
}